body,html {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

#new_post {
  text-decoration: none;
  font-size: 1.5rem;

}

.no-underline {
   text-decoration: none;
}


.item-left {
  padding-left: 6px;
}

.btn {
  display: inline-block;
  border-radius: 6px;
  text-align: center;
  border-width: 0px;
}

#main_container {
  display: flex;
  flex-flow: row;
}

.item-card {
  width: 200px;
  height: 300px;
  border: 1px #cccccc solid;
  border-radius: 6px;
  box-shadow: 0.8px 1.2px 1.2px 0.8px #adadad, 0px 1.5px 1.5px 0px #cccccc;
}

.item-card-inner:hover {
  cursor: pointer;
  background: url(http://www.gstatic.com/tv/thumb/v22vodart/12863030/p12863030_v_v8_ae.jpg);
  background-size: cover;
}

.item-card-inner:hover .title {
  visibility: hidden;
}

.item-card-inner  {
  width: 100%;
  height: 100%;
  background: #e6e6e6; 
}

.item-card-inner {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  justify-items: center;
}


.btn:hover {
  background: #e6e6e6;
}

.title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.author {
  font-size: 1.2rem;
  align-self: flex-end;
  padding-top: 8px;
  padding-right: 8px;
}

.post-image {
  height: 200px;
  object-fit: cover;
  margin: 8px 0px 8px 0px;
}

#cover {
  background-image: url(https://www.touropia.com/gfx/d/amazing-desert-landscapes/salar_de_uyuni.jpg?v=1);
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
}

#controls {
  display: flex;
  flex-flow: row-reverse;
}

.m-big {
  margin: 16px 16px 32px 0px;
}

.p-big {
  padding: 6px 10px 6px 10px;
}

.p-small {
  padding: 3px 5px 3px 5px;
}

#root {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 0px;
  min-height: 100%;
}

.w-40 {
  width: 40%;
}
.m-small {
  margin-top: 8px;
}

#container {
  padding: 0px 16px 0px 16px;
  width: 33%;
  background: #e8e8e8;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  /* padding: 0px 0px 8px 0px; */
}

.post-content {
  text-align: justify;

}


#content {
  display: flex;
  flex-flow: column;
  flex: 1;
}


input {
  font-size: 1.1rem;
}


label {
  font-size: 1.3rem;
}

#text_area {
  font-size: 1.1rem;
}

.font-small {
  font-size: 1.1rem;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}