<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  <title>Document</title>
</head>
<body>
  <div id="root">
    <div id="container">
      <div id="controls" class="m-small">
        <div class="btn p-small">
          <a class="no-underline" href="/update/{{ post.id }}">
            <img src="{{ url_for('static', filename='edit.png') }}" alt="edit">
          </a>
        </div>
        <div class="btn p-small">
          <a class="no-underline" href="/delete/{{ post.id }}">
            <img src="{{ url_for('static', filename='delete.png') }}" alt="delete">
          </a>
        </div>
      </div>
      <div id="content">
        <h3>{{ post.title }}</h3>
        <div class="">{{ post.author }}</div>
        <img class="post-image" src="{{ post.image }}" alt="Desert">
        <p class="post-content">{{ post.content }}</p>
      </div>  
    </div>
  </div>
  
</body>
</html>
